ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #383E42;
}

img {
    border-radius: 8px;
    width: 250px;
    height: 300px;
    float: left;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.first-box {
    background-color: grey;
    width: 800px;
    height: 550px;
    border: 10 px grey;
    margin: 20px;
    position: center;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.text-box {
    background-color: white;
    width: 500px;
    margin: 10px;
    position: relative;
    left: 40px;
    padding: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
    text-align: center;
    padding: 4px;
    color: black;
    position: center;
}

.button {
    background-color: #04f489;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.button1{border-radius:30px}
.button1{font-size: 16px}
.button1{padding: 15px 32px}

a:link {
    text-decoration: none;
}

a {
    color: black;
}

div.second-box {
    background-color: grey;
    width: 600px;
    height: 150px;
    border: 10 px grey;
    margin: 20px;
    position: center;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: left;
}

div.third-box{
    background-color: grey;
    width: 600px;
    height: 150px;
    border: 10 px grey;
    margin: 50px;
    position: center;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: right;
}

